.App {
  text-align: center;
  cursor: url(cursor.svg), auto;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  width: 32.5%;
  height: 7.5vh;
  border-radius: 20px;
  left: 40;
  /* background-color: #4CAF50; Green */
  background-color: rgb(181, 252, 94);
  border: none;
  color: black;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  transition-duration: 0.5s;
  font-weight: bolder;
} button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(255,255,255,0.19);
  cursor: pointer;
  transition-duration: 0.5s;
}

small {
  font-size: 1vh;
  position: fixed;
  bottom: 0;
}